<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hot Restaurant</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1 class='text-center'> <span class="fa fa-fire"></span>Hot Restaurant</h1>
      <hr>
      <h2 class='text-center'>Make Your Reservation</h3>
        <br>
      <div class='text-center'>
        <a href="/viewres"><button class="btn btn-primary btn-lg"><span
            class="fa fa-eye"></span> View Reservations</button></a>
        <a href="/"><button class="btn btn-default btn-lg"><span
            class="fa fa-home"></span></button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">Make a Reservation</div>
                    <div class="card-body">
                        <form role="form" method="POST">
                            <div class="form-group">
                                <label for="resName">Name </label>
                                <input type="text" class="form-control" id="resName">
                            </div>
                            <div class="form-group">
                                <label for="resPhone">Phone Number </label>
                                <input type="text" class="form-control" id="resPhone">
                            </div>
                            <div class="form-group">
                                <label for="resEmail">Email </label>
                                <input type="text" class="form-control" id="resEmail">
                            </div>
                            <button type="submit" class="btn btn-lrg btn-primary submit">Submit</button>
                        </form>
                    </div>

            </div>
        </div>
    </div>


<script type="text/javascript">
    // when submit is clicked do post request
    $(".submit").on("click", function(event){
        event.preventDefault();
        let newReservation = {
          name: $("#resName").val().trim(),
          phone: $("#resPhone").val().trim(),
          email: $("#resEmail").val().trim()
        };

        $.post("api/tables", newReservation)
        .then(function(data) {
          console.log("makeres.html", data);
          alert("Adding your reservation");
        })

    });
</script>

                
  

</body>

</html>