<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hot Restaurant</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1 class='text-center'> <span class="fa fa-fire"></span>Hot Restaurant</h1>
      <hr>
      <h2 class='text-center'>Current Reservations and Waiting List</h3>
        <br>
      <div class='text-center'>
        <a href="/makeres"><button class="btn btn-danger btn-lg"><span
            class="fa fa-eye"></span> Make Reservation</button></a>
        <a href="/"><button class="btn btn-default btn-lg"><span
            class="fa fa-home"></span></button></a>
        </div>
    </div>
        <div class="row">

            <div class="col-12">
      
              <div class="card mb-4">
                <div class="card-header">
                  <h3 id='current-res'><strong>Current Reservations</strong></h3>
                </div>
                <div class="card-body tables">
                    <ul id="tablelist" class="list-group">
                        <li class="list-group-item mt-4">
                            <h2>Table #1</h2> 
                            <hr>
                            <h2 id="table-name"></h2>
                            <h2 id="table-phone"></h2>
                            <h2 id="table-email"></h2>
                            <h2></h2>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                  <h3><strong>Waiting List</strong></h3>
                </div>
                <div class="card-body">
                    <ul id="waitlist" class="list-group">
                        <li class="list-group-item mt-4">
                            <h2>Table #1</h2> 
                            <hr>
                            <h2 id="wait-name"></h2>
                            <h2 id="wait-phone"></h2>
                            <h2 id="wait-email"></h2>
                        </li>
                    </ul>
                </div>
            </div>

    </div>
    </div>

<script type="text/javascript">
    // when viewres.html loads, then get the data to post to each card
    function getTableInfo(){
      $.get("/api/tables", function(data){
        if(data) {
          for(let i=0; i<tables.length;i++){
            $("#table-name").text(`Name: ${data.name}`);
            $("#table-phone").text(`Phone Number: ${data.phone}`);
            $("#table-email").text(`Email: ${data.email}`);
          } 
        } else {
          $("#tablelist").hide();
          $("#tables").append(`<h3>There are no reservations yet! Make your reservation now</h3>`);
        }
      })
    }

    function getWaitlistInfo(){

    }

    function clearTables(){
      $.post("/api/clear", function(){
      $("#waitlist").empty();
      $("#tablelist").empty();
      });
    }

    getTableInfo();
    getWaitlistInfo();

</script>
                    
      

</body>

</html>